APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:SgvB9Y1b8GY0X+95ZOm5gcYRVcloKG9CqK7mQ41pK28=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=honest
DB_USERNAME=root
DB_PASSWORD=

HASHIDS_SALT=honest@ran132
BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

# sms start
# PINGCONNECT_USER=honesthealthcare3@gmail.com
# PINGCONNECT_PASS=KFFRP58T
# PINGCONNECT_SENDER=HHC22
# PINGCONNECT_ENTITY_ID=1301174867008086182
# PINGCONNECT_TEMPLATE_CONFIRMATION=1307174910184497750
# PINGCONNECT_TEMPLATE_MEETING=1307174912108126357

MSG91_AUTH_KEY=447742AMCfHYvVexw68079d89P1
MSG91_SENDER_ID=HHC22
MSG91_APPLICATION_TEMPLATE_ID=1307174910184497750
MSG91_METTING_TEMPLATE_ID=your_dlt_template_id

# sms end

MAILERCLOUD_API_KEY=CdWww-fc5265bebdaf8a5074000e6015dbf0c7-bbecda85421123b01a66943be7f4d847
MAILERCLOUD_FROM_EMAIL=honesthealthcare3@gmail.com
MAILERCLOUD_FROM_NAME=HonestHealthCare

# MAIL_MAILER=smtp
# MAIL_HOST=mailer
# MAIL_PORT=465
# MAIL_USERNAME=honesthealthcare3@gmail.com
# MAIL_PASSWORD=ujfbjkpveduwrpcw
# MAIL_ENCRYPTION=tls
# MAIL_FROM_ADDRESS="honesthealthcare3@gmail.com"
# MAIL_FROM_NAME="Honest"
# TEMP_UPLOAD_PATH=C:\xampp\tmp

ZOOM_MEETING_CLIENT_ID=1IkmToa4RAGXZMU_eUpBLA
ZOOM_MEETING_CLIENT_SECRET=yUWS7qcV0htb5lqqINUq3RxjSQAn7L2J
ZOOM_MEETING_ACCOUNT_ID=1jHFc5AoSS-RuKCI_jdWKw
ZOOM_MEETING_SECRET_TOKEN=ePLvK459QGOeHLtbk9Pb_g
ZOOM_MEETING_VERIFICATION_TOKE=2tZ9clmBTE2-YvX97Cbdxg
ZOOM_MEETING_BASE_URL=https://api.zoom.us/v2


ZOOM_CLIENT_ID=9qgL2GuhTTyrhNO9aKhcvQ
ZOOM_CLIENT_SECRET=R1N7awh9rKdEguczqhIGwpAEknvdCPav
ZOOM_ACCOUNT_ID=1jHFc5AoSS-RuKCI_jdWKw
ZOOM_SECRET_TOKEN=CXHOpyQ5Qw6_69nFKMEEXQ
ZOOM_VERIFICATION_TOKE=81OMZZPwRhauT4k5IzrEvw
ZOOM_BASE_URL=https://api.zoom.us/v2

MSG91_AUTH_KEY=447742AMCfHYvVexw68079d89P1
MSG91_SENDER_ID=honest   
MSG91_ROUTE=4
MSG91_COUNTRY=91
MSG91_TEMPLATE_ID=1234567890123456789 

# ZOOM_MEETING_CLIENT_ID=1tFCza5CTYS779w14F3rTg
# ZOOM_MEETING_CLIENT_SECRET=T6gUinGe4xJtgX39tVXtsshUNXF4JEb8
# ZOOM_MEETING_ACCOUNT_ID=Urgg3YLZQBWRy8jPSmSW3w
# ZOOM_MEETING_SECRET_TOKEN=UWso8y22Q9adxHejfW7Pvw
# ZOOM_MEETING_VERIFICATION_TOKE=xCoInmWiRtysRtHoClSuEQ
# ZOOM_MEETING_BASE_URL=https://api.zoom.us/v2


# ZOOM_CLIENT_ID=LngkwRw9RnKGen5WrEkONQ
# ZOOM_CLIENT_SECRET=CcUlBzLBtorQb8VeJN76rOI7CNGeKwYE
# ZOOM_ACCOUNT_ID=Urgg3YLZQBWRy8jPSmSW3w
# ZOOM_SECRET_TOKEN=DHTb4JcQSJ-10J9mbgrq6w
# ZOOM_VERIFICATION_TOKE=BXLxGKafQj6SZ_v6gvIOHg
# ZOOM_BASE_URL=https://api.zoom.us/v2

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
